body {
    background: rgb(241, 193, 165) !important;
}

#container1{
    margin-top: 50px;
    background-color: white;
    height: 600px; 
  }

#parte-superior{
    margin-top: 15px;
    margin-bottom: 40px;
    display: inline-flex;
  }

#titulo{
  margin-left: 150px; 
 }

#logo-cadem{
    width: 15%;
    height: 10%;
    margin-left: 40px;
  }

/* home */

  #subtitulo-home{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 25px;
  }

#boton-home{
    margin-left: 500px;
}
#boton-home:hover{
    margin-left: 495px;
}
    
#boton-home button{
    margin-top: 70px;
    background: rgb(68, 78, 211);
    color: white;
    font-size: 20px;
    border: 0 ;
    width: 260px;
    height: 60px;
}
#boton-home button:hover{
    background: rgb(69, 74, 156);
    color: white;
    font-size: 22px;
    border: 0 ;
    width: 270px;
    height: 65px;
}

/* botones */

#boton-volver{
    margin-top: 180px;
    margin-left: 60px;
    background-color: rgb(62, 187, 62);
    color: white;
    font-size: 18px;
    border: rgb(62, 187, 62);
    height: 45px;
    width: 120px;
    float: left;
}

#boton-volver:hover{
    margin-top: 178px;
    margin-left: 50px; 
    background-color: rgb(68, 146, 68);
    color: white;
    font-size: 18.5px;
    border: rgb(62, 187, 62);
    height: 50px;
    width: 140px;
    float: left;
}

#boton-siguiente{
    margin-top: 180px;
    margin-right: 60px; 
    background-color: rgb(68, 78, 211);
    color: white;
    font-size: 18px;
    border: rgb(62, 187, 62);
    height: 45px;
    width: 120px;
    float: right;
  }
  
  #boton-siguiente:hover{
    margin-top: 178px;
    margin-right: 50px; 
    background-color: rgb(69, 74, 156);
    color: white;
    font-size: 18.5px;
    border: rgb(62, 187, 62);
    height: 50px;
    width: 140px;
    float: right;
  }

/* preguntas */

#subtitulo{
      margin-top: 50px;
      margin-left: 90px;
      margin-bottom: 25px;
      font-size: 22px;
    }

#pregunta1,
#pregunta2{
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
}
    
/* pregunta 1 */


#name,
#age{
    margin-top: 10px;
    margin-left: 2px;
    width: 500px;
    height: 34px;
    font-size: 20px;
    padding-left: 20px;
  }

/* pregunta 3 */

#pregunta3{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 22px;
}

#opciones-resp{
    margin-top: 10px;
    margin-left: 180px;
}

#boton-volver-preg3{
    margin-top: 20px;
    margin-left: 60px;
    background-color: rgb(62, 187, 62);
    color: white;
    font-size: 18px;
    border: rgb(62, 187, 62);
    height: 45px;
    width: 120px;
    float: left;
}

#boton-volver-preg3:hover{
    margin-top: 18px;
    margin-left: 50px; 
    background-color: rgb(68, 146, 68);
    color: white;
    font-size: 18.5px;
    border: rgb(62, 187, 62);
    height: 50px;
    width: 140px;
    float: left;
}

#boton-siguiente-preg3{
    margin-top: 20px;
    margin-right: 60px; 
    background-color: rgb(68, 78, 211);
    color: white;
    font-size: 18px;
    border: rgb(62, 187, 62);
    height: 45px;
    width: 120px;
    float: right;
  }
  
  #boton-siguiente-preg3:hover{
    margin-top: 18px;
    margin-right: 50px; 
    background-color: rgb(69, 74, 156);
    color: white;
    font-size: 18.5px;
    border: rgb(62, 187, 62);
    height: 50px;
    width: 140px;
    float: right;
  }


  /* pregunta 4 */


#buena1 input,
#niBuenaNiMala1 input,
#mala1 input{
    zoom: 1.4;
}

#boton-finalizar{
    margin-top: 20px;
    margin-right: 60px; 
    background-color: rgb(231, 13, 13);
    color: white;
    font-size: 18px;
    border: rgb(62, 187, 62);
    height: 45px;
    width: 120px;
    float: right;
}

#boton-finalizar:hover{
    margin-top: 18px;
    margin-right: 50px; 
    background-color: rgb(175, 43, 43);
    color: white;
    font-size: 18.5px;
    border: rgb(62, 187, 62);
    height: 50px;
    width: 140px;
    float: right;
  }

 #borde-respuestas{
    background-color: rgb(233, 230, 230);
 }

 #label-mala {
   background-color: brown;
 }


 /* finalizar */

 #subtitulo-finalizar{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 25px;
 }

 #boton-volver-home{
    margin-left: 500px;
}

#boton-volver-home:hover{
    margin-left: 495px;
}
    
#boton-volver-home button{
    margin-top: 50px;
    background: rgb(214, 50, 50);
    color: white;
    font-size: 20px;
    border: 0 ;
    width: 260px;
    height: 60px;
}
#boton-volver-home button:hover{
    margin-top: 48px;
    background: rgb(122, 41, 41);
    color: white;
    font-size: 22px;
    border: 0 ;
    width: 270px;
    height: 65px;
}

